html {
    background: #F5F5F5;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #ffff;
}

.header__logo {
    width: 100px;
    height: 28px;
}


/* style searchbutton */

.header__search__containe {
    position: relative;
}

.search_bar {
    background-image: url(../../assets/icons/search.svg);
    /* Ajustar según el tamaño de la imagen */
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    border-radius: 12px;
    padding: 8px 12px;
    height: 24px;
    /* Ajustar según el tamaño de la imagen */
    border: none;
    outline: none;
    /* Ajustar según el tamaño de la fuente deseado */
    color: #333;
    /* Ajustar según el color deseado */
    /* Ajustar según el ancho deseado */
    /* Ajustar según la altura deseada */
    box-sizing: border-box;
    background-color: #f5f5f5;
    width: 24px;
    place-content: none;
    cursor: pointer;
    font-family: 'Raleway';
}

.active {
    width: 100%;
    place-content: center;
}